<div id="comment-<%= @comment.id %>" class="comment_box" style="display:none;"><a name="comment-<%= @comment.id %>" title="Commentaire de <%= @comment.name %> sur <%= @comment.post.title %>"></a>
	<p><%=h @comment.content %></p>
	<div class="comment_infos">
		<p>Par <strong><%= link_to_if(@comment.url, @comment.name, @comment.url, :rel => "nofollow") %></strong> le <%= @comment.created_at.strftime("%d %B %Y à %kH%M") %> | <a href="#comment-<%= @comment.id %>" title="Commentaire de <%= @comment.name %> sur <%= @comment.post.title %>">permalien</a></p>
	</div>
</div>
