<div id="posts">
<% @posts.each do |post| %>
	<div id="post-<%= post.id %>" class="post">
		<h2><%= link_to post.title, permalink_path(post), :title => post.title %></h2>
		<div class="post-content">
			<%= post.content %>
		</div>
    	<div class="post_infos">
			<p>
				<span class="share">
					<%= twitter_share(post) %> <%= facebook_share(post) %>
				</span>
			<% if current_user && current_user.admin %><%= link_to 'Edit', edit_admin_post_path(post.id) %> | <% end %>
			<%- if post.comments.size > 0 -%>
				<%= link_to "#{post.comments.size} commentaire#{post.comments.size > 1 ? 's' : ''}", permalink_path(post, :anchor => "comments") %> | 
			<%- end -%>
			Publié le <%= post.created_at.strftime("%d %b %Y") %> par l'administrateur.
			</p>
		</div>
  </div>
<% end %>
</div>
